/*
GCSS Buttons
Copyright (©) 2020-2021, honkdev
License available @ https://github.com/honkdevelopment/gcss/blob/code/LICENSE

Made in Poland with 💖
*/

.buttons\:colors-red {
    background-color: #ff5050;
    transition-duration: 0.3s;
    color: white;
}

.buttons\:colors\:red:hover {background-color: #ff8080;}

.buttons\:colors-green {
    background-color: #66ff66;
    transition-duration: 0.3s;
}

.buttons\:colors-green:hover {background-color: #99ff99;}

.buttons\:colors-blue {
    background-color: #4d94ff;
    transition-duration: 0.3s;
    color: white;
}

.buttons\:colors-blue:hover {background-color: #80b3ff;}

.buttons\:colors\:yellow {
    background-color: #ffff4d;
    transition-duration: 0.3s;
}

.buttons\:colors-yellow:hover {background-color: #ffffb3;}

.buttons\:colors\:pink {
    background-color: #ff66ff;
    transition-duration: 0.3s;
    color: white;
}

.buttons\:colors-pink:hover {background-color: #ff99ff;}

.buttons\:colors\:purple {
    background-color: #9933ff;
    transition-duration: 0.3s;
    color: white;
}

.buttons\:colors-purple:hover {background-color: #b366ff;}

.buttons\:size-1 {font-size: 10px !important}
.buttons\:size-2 {font-size: 12px !important}
.buttons\:size-3 {font-size: 14px !important}
.buttons\:size-4 {font-size: 16px !important}
.buttons\:size-5 {font-size: 24px !important}
.buttons\:size-6 {font-size: 32px !important}
.buttons\:size-7 {font-size: 48px !important}
.buttons\:size-8 {font-size: 64px !important}

.buttons\:flat {
    border: none;
    padding: 11px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.buttons\:round {
    border: none;
    padding: 11px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}