<!DOCTYPE html>
<html>
<head>
  <title>GCSS Viewer</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" >
  <link href="https://gcss.honk.digital/latest.min.css" rel='stylesheet'>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
  <script src='vue-app.js' defer></script>
</head>
<body>
  <div id="app"><center>
    <h1 :id="idclass">{{ message }}</h1>
    <h2 :id="idclass">{{ message }}</h2>
    <h3 :id="idclass">{{ message }}</h3>
    <h4 :id="idclass">{{ message }}</h4>
    <h5 :id="idclass">{{ message }}</h5>
    <br><br>
    <button class="buttons-round-120 buttons-colors-red">{{ message }}</button><button class="buttons-round-120 buttons-colors-green">{{ message }}</button><button class="buttons-round-120 buttons-colors-blue">{{ message }}</button><button class="buttons-round-120 buttons-colors-yellow">{{ message }}</button><button class="buttons-round-120 buttons-colors-pink">{{ message }}</button><button class="buttons-round-120 buttons-colors-purple">{{ message }}</button>
    <br><br>
    <input :id="inputclass" type="text" v-model='idclass' placeholder="fonts-lato-300">
    <input :id="inputclass" type="text" v-model='inputclass' placeholder="inputs-dot-100">
    <input :id="inputclass" type="text" v-model='message' placeholder="The quick brown fox jumps over the lazy dog">
  </center></div>
</body>
</html>
