<!DOCTYPE html>
<html>
<head>
  <title>GCSS Viewer</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" >
  <link href="https://gcss.honk.digital/latest.min.css" rel='stylesheet'>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
  <script src='vue-app.js' defer></script>
</head>
<body>
  <div id="app"><center>
    <h1 :id="idclass">{{ message1 }}</h1>
    <h2 :id="idclass">{{ message1 }}</h2>
    <h3 :id="idclass">{{ message1 }}</h3>
    <h4 :id="idclass">{{ message1 }}</h4>
    <h5 :id="idclass">{{ message1 }}</h5>
    <br><br>
    <button class="buttons-round-100 buttons-colors-red">{{ message2 }}</button> <button class="buttons-round-120 buttons-colors-green">{{ message2 }}</button> <button class="buttons-round-140 buttons-colors-blue">{{ message2 }}</button> <button class="buttons-round-160 buttons-colors-yellow">{{ message2 }}</button> <button class="buttons-round-240 buttons-colors-pink">{{ message2 }}</button> <button class="buttons-round-320 buttons-colors-purple">{{ message2 }}</button>
    <br><br>
    <button class="buttons-flat-100 buttons-colors-red">{{ message2 }}</button> <button class="buttons-flat-120 buttons-colors-green">{{ message2 }}</button> <button class="buttons-flat-140 buttons-colors-blue">{{ message2 }}</button> <button class="buttons-flat-160 buttons-colors-yellow">{{ message2 }}</button> <button class="buttons-flat-240 buttons-colors-pink">{{ message2 }}</button> <button class="buttons-flat-320 buttons-colors-purple">{{ message2 }}</button>
    <br><br><br>
    <input :id="inputclass" type="text" v-model='idclass' placeholder="fonts-lato-300">
    <input :id="inputclass" type="text" v-model='inputclass' placeholder="inputs-dot-100">
    <input :id="inputclass" type="text" v-model='message1' placeholder="The quick brown fox jumps over the lazy dog">
    <input :id="inputclass" type="text" v-model='message2' placeholder="abc">
  </center></div>
</body>
</html>
