/*!
GCSS Buttons
Copyright (©) 2020-2022, Material Global
License available at https://github.com/MaterialGlobal/gcss/blob/code/LICENSE

Made by honklol on GitHub with 💖
*/

.buttons\:colors-red {
    background-color: #ff5050;
    transition-duration: 0.3s;
    color: white
}
.button\:red:hover {background-color: #ff8080;}

.button\:green {
    background-color: #66ff66;
    transition-duration: 0.3s
}
.button\:green:hover {background-color: #99ff99;}

.button-color\:blue {
    background-color: #4d94ff;
    transition-duration: 0.3s;
    color: white
}
.button-color\:blue:hover {background-color: #80b3ff;}

.button-color\:yellow {
    background-color: #ffff4d;
    transition-duration: 0.3s
}
.button-color\:yellow:hover {background-color: #ffffb3;}

.button-color\:pink {
    background-color: #ff66ff;
    transition-duration: 0.3s;
    color: white
}
.button-color\:pink:hover {background-color: #ff99ff;}

.button-color\:purple {
    background-color: #9933ff;
    transition-duration: 0.3s;
    color: white
}
.button-color\:purple:hover {background-color: #b366ff;}

.button-size\:1 {font-size: 10px !important}
.button-size\:2 {font-size: 12px !important}
.button-size\:3 {font-size: 14px !important}
.button-size\:4 {font-size: 16px !important}
.button-size\:5 {font-size: 24px !important}
.button-size\:6 {font-size: 32px !important}
.button-size\:7 {font-size: 48px !important}
.button-size\:8 {font-size: 64px !important}

.button\:flat {
    border: none;
    padding: 11px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer
}

.button\:round {
    border: none;
    padding: 11px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer
}